node_modules
.env
.eslintrc.js
ssl-cert.pem
ssl-key.pem

# exclude everything
public/images/medium/*
public/images/original/*
public/images/thumb/*

# keep empty folder
!public/images/medium/.gitkeep
!public/images/original/.gitkeep
!public/images/thumb/.gitkeep




