extends layout/layout

block content
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/js/tempusdominus-bootstrap-4.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/css/tempusdominus-bootstrap-4.min.css")
    link(rel="stylesheet" href="stylesheets/add-event.css")
    .container
      h2 New Event
      form#add-event.form-horizontal
        .row
          .col-sm-6
            .form-group
              label.control-label.col-sm-2(for="title") Name:
              input#title.form-control(type="text" placeholder="Event name" name="title")
        .row
          .col-sm-6
            .form-group
              label.control-label.col-sm-2(for="date") Date:
              #datetimepicker1.input-group.date(data-target-input="nearest")
                input.form-control.datetimepicker-input(type="text" data-target="#datetimepicker1" name="datetime")
                .input-group-append(data-target="#datetimepicker1" data-toggle="datetimepicker")
                  .input-group-text
                    i.fa.fa-calendar
        .row
          .col-sm-6
            .form-group
              label.control-label.col-sm-6(for="range") Start participants:
              input#formControlRange.slider.start-slider.form-control-range(type="range" min="1" max="40" value="1" name="startRange")
              label.control-label.col-sm-6.start Count: 40            
        .row
          .col-sm-6
            .form-group
              label.control-label.col-sm-6(for="range") Max participants:
              input#formControlRange.slider.end-slider.form-control-range(type="range" min="1" max="40" value="5" name="endRange")
              label.control-label.col-sm-6.end Count: 40
        .row
          .col-sm-6
            .form-group
              label.control-label.col-sm-6(for="detail") Info:
              textarea#detail.form-control(rows="3" name="detail")
        .row
          .col-sm-6 
            .form-group
              label.control-label.col-sm-2(for="file") Image:
              input#file.form-control(type="file" name="file" accept="image/*")
        .row  
          .col-sm-offset-2.col-sm-10
            .form-group
              button.btn.btn-primary(type="submit") Create
    include layout/nav.pug
    script(src="javascripts/add-event-client.js")
