extends layout/layout

block content
    .container
        .card(style="width: 26rem;")
            .card-body
                h5.card-title
                img.img-fluid(src="")
            .card-body
                p.card-text.user 
                p.card-text.datetime 
                p.card-text.count 
                p.card-text.detail 
                
            .card-body
                button#enroll-btn.btn.btn-secondary(type="button") Enroll

            
    include layout/nav.pug
    script(src="javascripts/item-client.js")