extends layout/layout

block content
    .container
        .list-group
            a.list-group-item.list-group-item-action.flex-column.align-items-start(href="#")
                .d-flex.w-100.justify-content-between
                img.img-thumbnail.rounded.float-left(src="images/thumb/1525948370506cat3.jpg" alt="...")
                h5.mb-1 Futista
                small username
                p.mb-1
                | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                small Donec id elit non mi porta.
            a.list-group-item.list-group-item-action.flex-column.align-items-start(href="#")
                .d-flex.w-100.justify-content-between
                h5.mb-1 List group item heading
                small.text-muted 3 days ago
                p.mb-1
                | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                small.text-muted Donec id elit non mi porta.
            a.list-group-item.list-group-item-action.flex-column.align-items-start(href="#")
                .d-flex.w-100.justify-content-between
                h5.mb-1 List group item heading
                small.text-muted 3 days ago
                p.mb-1
                | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                small.text-muted Donec id elit non mi porta.