extends layout/layout

block content
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCMx0duwKZ8fF9rQdsvuTI6VypAIcaC4WM')
    include layout/nav.pug
    div#map
    script(src='javascripts/map-client.js')