extends layout/layout

block content
    link(rel='stylesheet', href='/stylesheets/map.css')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCMx0duwKZ8fF9rQdsvuTI6VypAIcaC4WM&libraries=places')
    div#map
    include layout/nav.pug
    script(src='javascripts/map-client.js')