//- nav.navbar.navbar-expand-md.bg-dark.navbar-dark
//-         // Brand
//-         a.navbar-brand(href="/") App
//-         // Toggler/collapsibe Button
//-         button.navbar-toggler(type="button" data-toggle="collapse" data-target="#collapsibleNavbar")
//-             span.navbar-toggler-icon
//-         // Navbar links
//-         #collapsibleNavbar.collapse.navbar-collapse
//-             ul.navbar-nav
//-             li.nav-item
//-                 a.nav-link(href="/map") Profile
//-             li.nav-item
//-                 a.nav-link(href="#") Posts
//-             li.nav-item
//-                 a.nav-link#chatlink(href="/chat") HelpChat
//-             li.nav-item
//-                 button.btn.btn-primary.btn-sm#logout-btn(type="button") Logout

nav.navbar.fixed-bottom.navbar-dark.bg-dark
    .container
        .row
            .col
                a.nav-link(href="/map") Map
            .col
                a.nav-link(href="/list-event") List
            .col
                a.nav-link(href="/add-event") New
            .col
                a.nav-link(href="/profile") Profile


