nav.navbar.fixed-bottom.navbar-dark.bg-dark
    .container
        .row
            .col
                a.nav-link(href="/") Map
            .col
                a.nav-link(href="/list-event") List
            .col
                a.nav-link(href="/profile") Profile
